body {
    margin-top: 3pt;
    margin-left: 3pt;
    margin-right: 3pt;
    background-color: azure;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}